<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="d4382ba0-6a33-4a49-82b6-aa4a99f7126b"/>
    <add key="ida:RefreshToken" value=""/>
  </appSettings>
</configuration>